<main>
    <section>
        <label>Enter user token:</label>
        <textarea [(ngModel)]="userToken"></textarea>
    </section>

    <section>
        <label>Enter proxy servers(seperat with ";" between ip addresses):</label>
        <textarea [(ngModel)]="proxyServerAddresses"></textarea>
    </section>

    <section>
        <label class="enable_compressing">Enable compressing:</label>
        <input type="checkbox" [value]="enableCompressing" />
        <div class="placeholder"></div>
    </section>

    <section>
        <button class="save_configuration" (click)="saveConfiguration()">Save confiugration</button>
        <button (click)="startAgentServer()" [disabled]="disableStartButton">Start</button>
        <button (click)="stopAgentStop()" [disabled]="disableStopButton">Stop</button>
    </section>
</main>
<router-outlet></router-outlet>
