main {
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

p.started_status_label {
    color: #aae466;
    font-size: 12px;
}

p.stopped_status_label {
    color: #e47966;
    font-size: 12px;
}

.user_token_input {
    width: 100%;
}

.user_token_input textarea {
    height: 100px;
}

.proxy_address_input {
    width: 100%;
}

.proxy_address_input textarea {
    height: 100px;
}

.listening_port_input {
    width: 100%;
}

.agent_action_button {
    flex-grow: unset;
    justify-self: flex-end;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 100%;
    border: none;
    font-size: 60px;
    cursor: pointer;
}

.agent_action_button.stop {
    color: #e57979
}

.agent_action_button.stop:hover {
    color: #d85656
}

.agent_action_button.start {
    color: #CCCCCC
}

.agent_action_button.start:hover {
    color: #888888
}

.pannel_header_icon {
    margin-right: 5px;
}

section.agent_action_buttons_group {
    flex-grow: 1;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-weight: 700;
}

.field_hint {
    margin-bottom: 5px;
}
