main {
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.user_token_input {
    width: 100%;
}

.user_token_input textarea {
    height: 100px;
}

.proxy_address_input {
    width: 100%;
}

.proxy_address_input textarea {
    height: 100px;
}

.listening_port_input {
    width: 100%;
}

.agent_action_button {
    flex-grow: unset;
    justify-self: flex-end;
    margin: 5px;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: none;
}

.agent_action_button.started {
    color: red;
}

.agent_action_button.stopped {
    color: greenyellow;
}

.pannel_header_icon {
    margin-right: 5px;
}

section.agent_action_buttons_group {
    flex-grow: 1;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.field_hint {
    margin-bottom: 5px;
}
