<div class="grid p-fluid">
    <div class="col-12 md:col-6">
        <div class="card">
            <h5>User profile</h5>
            <div class="grid formgrid">
                <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input pInputText type="text" placeholder="Username" />
                    </span>
                </div>
                <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input pInputText type="text" placeholder="Username" />
                    </span>
                </div>
            </div>

        </div>
    </div>

</div>
